body
{
    margin: 0;
    overflow: hidden;
}

#falling-code-wrapper
{
    display: grid;
    grid-template-columns: repeat(60,1fr);
    justify-items: center;
}

#falling-code-wrapper div
{
    width: .5em;
    word-wrap: break-word;
}