body
{
    margin: 0;
    overflow: hidden;

    height: 100vh;
}

#falling-code-wrapper
{
    display: grid;
    grid-template-columns: repeat(80,1fr);
    justify-items: center;
    height: 100%;
    
    background: #020204;
    
}

#falling-code-wrapper div
{
    
    width: 1em;
    word-wrap: break-word;
    position: relative;
    top: -120vh;

    background: linear-gradient(to top, #09ff00, #01d301, #117701, #0d5c00);
    font-weight: bolder;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}